@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: sans-serif;
}

.selection {
    color: rgba(93, 148, 111, 0.89);
}

html {
    overflow: hidden;
}

body {
    background: rgb(255, 211, 251);
}

section {
    min-height: 100vh;
    padding: 0 9%;
}

.btn {
    background: linear-gradient(to right, #7F5529, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 35px;
    transform: translateX(90%);
    /* Ajusta la posición para centrar horizontalmente */
    border: none;
}
.desc{
    width: 100px;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: -20px;
    border-bottom: 1px solid #7F5529;
}

header .logo {
    font-size: 60px;
    background: linear-gradient(to right, #7F5529, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;

}

header .navbar a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 2rem;
    color: #775127CC;
    text-decoration: none;

}

header.navbar a:hover {
    color: var(--verde);
}

header input {
    display: none;
}

header label {
    color: var(--verde);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.text-pag {
    font-size: 20px;
    color: #7F5529;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    /* Posiciona el contenido de manera absoluta */
    top: 30%;
    /* Lo coloca en la mitad de la pantalla verticalmente */
    transform: translateY(-50%);
    /* Ajusta la posición para que el centro del texto quede en el medio */
    left: 50%;
    /* Centra horizontalmente el contenido */
    text-align: left;
    /* Alinea el texto a la izquierda */
    transform: translateX(-90%);
    /* Ajusta la posición para centrar horizontalmente */
}

.image {
    z-index: -1;
    width: 50px; /* Cambia el valor a lo que necesites para reducir el tamaño de la imagen */
    transform: translateY(-10%);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-3.5rem);
    }
}

.inicio .content h3 {
    color: #333;
    text-transform: uppercase;
}

.inicio .content h3 span {
    color: rgba(93, 148, 111, 0.89);
    text-transform: uppercase;
}

.inicio .content p {
    padding: 1rem 0;
}